.wp-block-school-blocks-school-address {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.wp-block-school-blocks-school-address p {
	margin: 0;
	font-style: normal;
}

.wp-block-school-blocks-school-address svg {
	width: 2rem;
	height: 2rem;
}
