<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":"219px"} -->
<div style="height:219px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"center","level":1} -->
<h1 class="wp-block-heading has-text-align-center">404 Error Placeholder</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Oops! It seems like the page you're looking for has gone on a little adventure.<br>Maybe it's exploring the digital wilderness or taking a nap in the cloud.<br>Don't worry, though—you can always head back to <a target="_blank" rel="noreferrer noopener">home</a> and start fresh!</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"300px"} -->
<div style="height:300px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->