<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center","level":1} -->
<h1 class="wp-block-heading has-text-align-center">Apply Now</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>We can’t wait to support you on your learning journey! Once you fill out the application form below we will be in touch.</p>
<!-- /wp:paragraph -->

<!-- wp:gravityforms/form {"formId":"1","inputPrimaryColor":"#003c71","buttonPrimaryBackgroundColor":"#003c71"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->